@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.encabezado{
    width: 100%;
    height: 100vh;
    background-color:#FCDB7D ;
}
li{
    list-style: none;
    display: inline-block;
    margin: 0px 30px;
    color: #0C4DA2;
    font-weight: 500;

}
.navegacion{
    display:flex ;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}
.contenedor-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}
.contenedor-parrafo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
}
.titulo-info{
    font-weight: 300;
}
.img-info{
    width: 100%;
}
.titulo-info{
    width: 100%;
}
.boton-atrapar{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 5px;
    font-size: 1em;
    background-color: #0C4DA2;
    color: white;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 45%;
    margin-top: 20px;
}
.seccion-azul{
    width: 100%;
    height: 100vh;
    background-color: #0C4DA2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-azul{
    color: #FCDB7D;
    font-size: 50px;
    font-weight: 800;
}
.p-azul{
    color: white;
    font-size: 30px;
    font-weight: 200;
}
.container-icons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 70px;
}
.container-icon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}
.container-icon-info p {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: white;
}
.pedimon-logo{
    margin-top: auto;
}
.li-nav:hover{
    color: white;
    cursor: pointer;
}
.boton-atrapar:hover{
    cursor: pointer;
    color: #0C4DA2;
    background-color: white;
}

@media (max-width:1232px) {
    .boton-atrapar{
        font-size: 0.5em;
    }
    .img-pikachu{
        width: 30%;
    }
}
@media (max-width:825px){
    .titulo-info{
        font-size: 0.9em;
    }
    .img-pikachu{
        width: 40%;
    }
}
@media(max-width:1024px){
    .titulo-info{
        font-size: 1.3em;
    }
}